.image-container {
  align-self: start;
  flex: none;
  height: auto;
  justify-self: start;
  position: relative;
  transform: perspective(1200px);
  width: fit-content;
}
.highlight-img {
  height: 290px;
  position: relative;
  max-width: 360px;
  cursor: pointer;
  opacity: 1;
  border-radius: 20px;
}
.card {
  aspect-ratio: 0.944563 / 1;
  flex: 0 0 auto;
  height: var(--aspect-ratio, 116px);
  overflow: visible;
  position: absolute;
  width: 109px;
  transform: none;
  transform-origin: 50% 50% 0px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.image-container:hover {
  .mp4card {
    transform: rotate(-8deg) scale(1.15);
    inset: 51px auto auto 78px;
    height: var(--aspect-ratio, 131px);
  }
  .mp3card {
    transform: rotate(12deg) scale(1.15);
    inset: 54px 88px auto auto;
    height: var(--aspect-ratio, 138px);
  }
}
.text-box {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 4px;
  height: 100%;
  justify-content: center;
  justify-self: center;
  padding: 24px;
  position: relative;
  transform: perspective(1200px);
}

.images-container {
  height: auto;
  position: relative;
  max-width: 390px;
  cursor: pointer;
}
.highlights-img {
  aspect-ratio: unset;
  inset: 20px auto auto calc(50% - 151px);
  flex: 0 0 auto;
  height: 243px;
  position: absolute;
  max-width: 302px;
  opacity: 0;
  border-radius: 20px;
  transform: none;
  transform-origin: 50% 50% 0px;
  transition: 0.2s ease-in-out;
}
.img-card {
  aspect-ratio: unset;
  inset: calc(50.1577% - 145px) auto auto calc(50% - 180px);
  flex: 0 0 auto;
  height: 290px;
  position: absolute;
  max-width: 360px;
  backdrop-filter: blur(0px);
  border-radius: 20px;
  transform: none;
  transform-origin: 50% 50% 0px;
  transition: 0.2s ease-in-out;
}
.images-container:hover {
  .img-card {
    height: 286px;
    position: absolute;
    top: calc(50% - 143px);
    left: calc(50% - 180px);
  }
  .highlights-img {
    inset: calc(50% - 151px);
    opacity: 1;
    top: 10px;
  }
}
@media (max-width: 809px) {
  .text-box {
    align-items: center;
    height: min-content;
    transform: perspective(1200px) translate(-50%);
    max-width: 375px;
    left: 50%;
    margin-bottom: 30px;
  }
  .text-box2 {
    top: 314px;
  }
  .text-box h2,
  .text-box p {
    text-align: center;
  }
}
@media screen and (max-width: 399px) {
  .img-card {
    left: calc(50% - 131px);
    max-width: 265px;
  }
  .highlights-img {
    inset: calc(50% - 115px);
    max-width: 240px;
  }
}
