.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 100px 40px;
  position: relative;
}
.faqs-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 60px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}
.heading {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  max-width: 320px;
}
.faqs {
  align-items: center;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 60px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  max-width: 620px;
}
.faq-item {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}
.question {
  font-size: 18px;
  color: white;
  line-height: 1.1em;
  letter-spacing: -0.2px;
  font-weight: 500;
}
.answer {
  line-height: 24px;
  letter-spacing: -0.16px;
}
@media screen and (max-width: 809px) {
  .faqs-container {
    flex-direction: column;
    gap: 30px;
  }
  .wrapper {
    align-items: start;
    padding: 100 24px;
  }
}
