.hero,
.hero h1,
.hero p {
  font-family: "Inter" !important;
}
.input {
  margin-top: 40px;
  height: 56px;
  border: 1px solid var(--border);
  border-radius: 12px;
  background: var(--card);
  color: var(--text-foreground);
  width: 100%;
  padding: 16px;
  outline: none;
}
