@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@layer base {
  :root {
    --background: #0a0c10;
    --link-color: #9d8aff;
    --link-hover-color: #7b61ff;
    --text-foreground: rgba(255, 255, 255, 0.6);
    --card: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.03) 100%
    );
    --text-overlay: linear-gradient(
      111deg,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0.29) 100%
    );
    --border: rgba(255, 255, 255, 0.04);
    --radius: 0.5rem;
    --shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px,
      rgba(255, 255, 255, 0.32) 0px 1px 0px 0px inset;
    --btn-bg: url("https://framerusercontent.com/images/f5rsekRUhdoz8gnyjPIutVYXjBY.png");
    --aspect-ratio: auto;
  }
  /* .dark {
    --background: #0a0c10;
    --text: #fff;
    --link-color: #9d8aff;
    --link-hover-color: #7b61ff;
    --text-foreground: rgba(255, 255, 255, 0.6);
    --card: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.03) 100%
    );
    --text-overlay: linear-gradient(
      111deg,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0.29) 100%
    );
    --border: rgba(255, 255, 255, 0.04);
    --radius: 0.5rem;
    --shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px,
      rgba(255, 255, 255, 0.32) 0px 1px 0px 0px inset;
    --btn-bg: url("https://framerusercontent.com/images/f5rsekRUhdoz8gnyjPIutVYXjBY.png");
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-white;
  }
}
h1,
h2 {
  font-weight: 400;
  color: white;
  font-size: 36px;
  letter-spacing: 0;
  text-transform: none;
  line-height: 40px;
  text-align: start;
}
p {
  font-weight: 400;
  color: var(--text-foreground);
  font-size: 16px;
  letter-spacing: 0;
  text-transform: none;
  line-height: 24px;
  text-align: start;
}
.overlay {
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: max(0em, calc(calc(1.3em - 40px) / 2));
  margin: min(0em, calc(calc(1.3em - 40px) / -2));
  background-image: var(--text-overlay);
}
.heading {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
}
.icon {
  user-select: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  fill: rgb(232, 219, 255);
  flex-shrink: 0;
  cursor: auto;
}
.link {
  color: var(--link-color);
}
.link:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}
iframe {
  border-radius: 10px;
  border: 1px solid var(--border);
}
