.cards {
  align-content: center;
  align-items: center;
  bottom: 0;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 64px 0;
  transform: perspective(1200px);
  width: 100%;
}
